.boton
	&__box
		width 100%
		text-align center
		margin 0 auto
	&__actions
		width 100%
		text-align center
		margin 0 auto
		display block
		a
			border-radius 20px
			margin 1em
			padding 1em
			display block
			text-decoration none
			font-size 1.4em
			text-transform uppercase
			color white
			background #46F34B
			border-bottom 5px solid #32A235
			&:hover
				background #FF3C3C
				border-bottom 5px solid #AF2C2C
		&.btn-quieto
			width 14em 

@media (min-width 768px)
	.boton
		&__box
			width 100%
			text-align center
			margin 0 auto
		&__actions
			width 30%
			text-align center
			margin 0 auto
			display inline-block
			vertical-align top
			&.btn-quieto
				width 14em 