.cel
	background yellow
	&__box
		width 100%
		margin 0 auto
	&__c1
		width 100%
		background purple
		display block
		h2
			font-size 1.6em
			text-align center
		.c1__img
			width 100%
			text-align center
			img
				max-width 90%
		p
			padding 15px
	&__c2
		width 100%
		background red
		display block
		h2
			font-size 1.6em
			text-align center
		.c2__img
			width 100%
			text-align center
			img
				max-width 90%
		p
			padding 15px
	&__c3
		width 100%
		background orange
		display block
		h2
			font-size 1.6em
			text-align center
		.c3__img
			width 100%
			text-align center
			img
				max-width 90%
		p
			padding 15px
@media (min-width 768px)
	.cel
		background peru
		&__box
			width 100%
			text-align center
			margin 0 auto
			padding-top 2em
			padding-bottom 2em
		&__c1
			width 30%
			display inline-block
			vertical-align top
		&__c2
			width 40%
			display inline-block
			vertical-align top
		&__c3
			width 100%
			display block
					
@media (min-width 1000px)
	.cel
		padding-top 2em
		padding-bottom 2em
		background orange
		&__box
			// max-width 1200px
			width 100%
			margin 0 auto
			text-align center
		&__c1
			background peru
			display inline-block
			width 20%
			vertical-align top
		&__c2
			background yellow
			display inline-block
			width 40%
			vertical-align top
		&__c3
			background olive
			display inline-block
			width 20%
			vertical-align top
			
