.why
	background #f9f9f9
	&__box
		width 100%
		text-align center
		margin 0 auto
		padding-top 2em
		padding-bottom 2em
	&__item
		background #f9f9f9
		display block
		width 90%
		margin 0 auto
		padding-top 2em
		padding-bottom 2em
		margin-bottom 1em
		border 1px solid #C7C7C7
		figure
			width 100%
		img
			width 200px
			height auto
			max-width 100%
		p
			padding-left 15px
			padding-right 15px
			text-align left

@media (min-width 768px)
	.why
		width 100%
		&__box
			max-width 1400px
			text-align center
			margin 0 auto
			padding-top 2em
			padding-bottom 2em
		&__item
			display inline-block
			width 26%
			vertical-align top
			margin-right 1em
			margin-left 1em
			border-radius 20px
			box-shadow rgba(0,0,0,.2) 0px 0px 10px
		
