.music
	background #8BD3EC
	background-image url(https://d2c87l0yth4zbw-2.global.ssl.fastly.net/i/moments/discover-hero.jpg)
	background-size cover
	background-repeat no-repeat
	padding-top 3em
	padding-bottom 3em
	&__box
		max-width 1000px
		margin 0 auto
		text-align center
		padding-top 6em
		padding-bottom 6em
	&__title
		width 100%
		display block
		margin 0 auto
		h2
			font-size 2em
			text-align center
			color #1e3264
			font-weight 800
	&__content
		width 70%
		display block
		margin 0 auto
		padding-top 1em
		padding-bottom 1em
		p
			text-align center
			color #1e3264
			font-size 1em
			font-weight 200
	&__action
		width 15em
		display block
		margin 0 auto
		padding-top 1em
		a
			display block
			background #1e3264
			padding 1.5em
			color white
			border-radius 30px
			text-decoration none
			text-transform uppercase
			font-weight 400
			
@media (min-width 768px)
	.music
		&__title
			width 100%
			display block
			margin 0 auto
			h2
				font-size 3.5em