.paquete
	background orange
	&__box
		width 100%
		text-align center
		margin 0 auto
		padding-top 1em
		padding-bottom 1em
	&__item
		width 100%
		background aqua
		margin-bottom 2em
		h2
			font-size 1.6em
			color white
		p
			padding 15px

@media (min-width 768px)
	.paquete
		&__box
			max-width 1000px
			// width 100%
			padding-top 2em
			padding-bottom 2em
			text-align center
		&__item
			width 30%
			display inline-block
			vertical-align top	