.platzi
	background lightgray
	background-image url(https://static.platzi.com/static/website/v2/images/home/assets/backgrounds/cover_home.5bf2e3be26a4.jpg)
	background-size cover
	background-repeat no-repeat
	&__box
		width 100%
		display block
		margin 0 auto
		text-align center
	&__banner
		width 100%
		display block
		padding-top	1.5em
		padding-bottom	1.5em
		.banner__title
			width 70%
			display	block
			padding	1em
			h1
				color white
				font-size 1.6em
				text-align left
				text-shadow rgba(0,0,0,.9)0px 0px 10px
				
		.banner__actions
			display	block
			width 62%
			text-align left
			padding-left 2em
			.actions__c1
				display block
				width 100%
				padding-bottom	2em
				a
					background #FF2121
					color white
					text-decoration none
					padding 1em
					border-radius 20px
					border-bottom 4px solid #A02323
			.actions__c2
				display	block	
				width 100%
				a
					color white
					
	&__video
		width 100%
		display block
@media (min-width 768px)
	.platzi
		&__box
			max-width 1300px
			margin 0 auto
			text-align center
			padding-top 2em
			padding-bottom 2em
		&__banner
			width 45%
			display inline-block
			vertical-align top
			.banner__title
				width 100%
				display	block	
				margin	0 auto
				text-align	center
				h1
					font-size 1.9em
					color white
					text-align left
					padding	.5em
					letter-spacing 5px
					
				
			.banner__actions
				display	block
				width 100%
				margin 0 auto
				text-align	left
				padding-top	1em
				padding-left 1em
				.actions__c1
					display	 inline-block	
					width 8em
				.actions__c2
					display	 inline-block	
					width 15em
		&__video
			width 28em
			display inline-block
			vertical-align top
			
			