.prefe
	background peru
	&__box
		width 100%
		text-align center
		margin 0 auto
		padding-top 1em
		padding-bottom 1em
	&__item
		background purple
		width 100%
		display block
		margin-top 1em
		margin-bottom 1em
@media (min-width 321px)
	.prefe
		&__box
			width 100%
			padding-top 2em
			padding-bottom 2em
		&__item
			background aqua
			display inline-block
			width 45%
@media (min-width 768px)
	.prefe
		&__box
			width 100%
			padding-top 2em
			padding-bottom 2em
		&__item
			background yellow
			display inline-block
			width 30%
			
@media (min-width 1000px)
	.prefe
		&__box
			width 100%
			padding-top 2em
			padding-bottom 2em
		&__item
			background olive
			display inline-block
			width 20%

	