.spotify
	background-color white
	background-image url(https://d2c87l0yth4zbw.global.ssl.fastly.net/i/home/carousel/bg-premium.jpg)
	background-size cover
	background-repeat no-repeat
	&__box
		display block
		width 80%
		text-align left
		margin 0 auto
		padding-top 3em
		padding-bottom 3em
	&__title
		display block
		width 20em
		padding-bottom 2em
		h1
			font-size 1.8em
			color #2e2f33
		p
			text-align left
			font-size .9em
			color #2e2f33
	&__actions
		display block
		width 20em
		padding-bottom 2em
		.actions__c1
			display block
			width 100%
			padding-bottom .5em
			a
				background #1ed760
				color white
				text-decoration none
				text-transform uppercase
				border-radius 30px
				padding 1em 4em
				&:hover
					background #16B34E
		p
			width 9em
			padding-top .8em
			padding-bottom .8em
			margin 0 auto
			text-align center
		.actions__c2
			display block
			width 100%
			padding-top .5em
			a
				border 2px solid #2e2f33
				color #2e2f33
				text-decoration none
				text-transform uppercase
				border-radius 30px
				padding 1em 5em
				&:hover	
					background black
					color white
				
	&__condiciones
		display block
		width 20em
		color #2e2f33

@media (min-width 768px)
	.spotify
		&__box
			width 80%
		&__title
			width 39em
			h1
				font-size 5em
				line-height 1
				letter-spacing -0.06em
				font-weight 600
				margin-top 0
			p
				padding-top 2em
				padding-bottom 0
				font-size 1.3em
		&__actions
			display	block
			width 20em
			padding-bottom	4em
			.actions__c1
				width 16em
				a
					border-radius 50px
					font-size 18px
					text-align center
					display	 block
			.actions__c2	
				width 16em
				a
					display	block
					text-align	center
					padding	1em
			p
				width 16em
				margin	0
		